# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

.idea
Foodomat.iml
# Node
src/foodomat/node_modules
src/foodomat/dist
src/foodomat/npm-debug.log
src/foodomat/yarn-error.log

src/foodomat-ui/.angular
src/foodomat-ui/node_modules

# IDEs and editors
src/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
