<div class="c-weekday__header">
  <label class="c-weekday__title c-weekday__border-right">Monday</label>
  <label class="c-weekday__title c-weekday__border-right">Tuesday</label>
  <label class="c-weekday__title c-weekday__border-right">Wednesday</label>
  <label class="c-weekday__title c-weekday__border-right">Thursday</label>
  <label class="c-weekday__title c-weekday__border-right">Friday</label>
  <label class="c-weekday__title c-weekday__border-right">Saturday</label>
  <label class="c-weekday__title">Sunday</label>
</div>
<div class="c-planning-list__container">
  @for (planable of activeMonth?.planables; track planable) {

  }
</div>
