@import "../../../styles.scss";

:host {
  background-color: $dark-background-color;
  width: 100%;
  height: 100%;
}

.c-weekday__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.c-weekday__title {
  width: 14.286%;
  text-align: center;
  font-size: large;
  font-weight: 600;
  padding: .6em;
}

.c-weekday__border-right {
  border-right: solid $dark-surface-color .5px ;
}

.c-planning-list__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
