:host {
  background-color: #6D5D6E;

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  height: fit-content;

  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: x-large;
  margin: 0;
  padding: .3em;
}
