:host {
  display: grid;
  grid-gap: .5em;
  padding: .5em;
}

.c-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h3 {
  font-size: x-large;
  margin: 0;
  padding: .3em;
}
