@import "../../../styles.scss";

:host {
  background-color: $dark-background-color;

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  user-select: none;
  padding: .4em;
  height: 3em;
}

h3 {
  float: right;

  font-size: x-large;
  margin: 0;
  padding: .3em;
}

.foodomat-main__custom-border {
  height: 0;
  width: 98%;
  margin-left: 1%;
  margin-bottom: .5em;

  border-bottom: $dark-primary-color 1px solid;
}
